h1 {
    font-size: larger;
    font-stretch: semi-expanded;
    font-weight: bolder;
    font-style: unset;
    color: rgb(214, 165, 40);
}

img {
    float: left;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: honeydew;
    background-color: -webkit-gradient(honeydew);
}

.photo {
    background-color: ivory;
}

.container {
    background-color: lavender;
    
}
